/* Overall CSS style for tags */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(93, 87, 87);
    margin: 0px;
    padding: 0px;
    background-color: rgb(163, 196, 202);
    
}
h1 {
    text-align: center;
    color: rgb(93, 87, 87);
    margin-top: 2rem;
}
label {
    font-weight: 500;
    margin-bottom: 10px;
}

/* --------------------------------------------------------- */

/* Section Styling */
#main-div {
    margin-top: 2%;
    margin-left: 20%;
    width: 60%;
    background-color: #f3f3f3;
    box-shadow: 3px 4px 4px rgb(71, 71, 134);
    border-radius: 10px;
    padding-top: 5px;
}

/* --------------------------------------------------------- */
/* Separators (Lines) styling */

/* Horizontal */
.line-separator{
    width: 100%;
    height: 2px;
    background-color: rgb(188, 182, 182);
}
/* Vertical */
.separator{
    width: 2px;
    height: auto;
    background-color: rgb(188, 182, 182);
}

/* --------------------------------------------------------- */

/* Description Styling */
.desc{
    margin: 8px 20px;
    width: 90%;
}

#description {
    width: 100%;
    background-color: #f3f3f3;
    border: none;
    margin-bottom: 15px;
    padding: 5px 15px;
    outline: none;
}

/* --------------------------------------------------------- */

/* Category and Date Styling Div */
.data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dropdown {
    /* display: inline-block; */
    position: relative;
    margin-top: 5px;
    margin: 8px 20px;
    width: 50%;
}

#category, #dueDate {
    width: 100%;
    background-color: #f3f3f3;
    border: none;
    margin-bottom: 15px;
    padding: 5px 15px;
    outline: none;
    color: rgb(93, 87, 87);
}

.date-div {
    /* margin-top: 5px; */
    /* margin: 8px 20px; */
    width: 39%;
    margin: 8px 20px;
}

/* --------------------------------------------------------- */

/* Add and Delete Buttons */
#buttons {
    display: flex;
    justify-content: center;
    padding: 2rem 5px;
}

#buttons button {
    padding: 1.3rem;
    color: white;
    font-size: large;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 4px 4px rgb(0, 0, 10);
    cursor: pointer;
}

#add-button{
    background-color:rgb(23, 180, 62);
    margin-right: 10px;
}

#add-button:hover {
    background-color:rgb(22, 165, 58);
}

#delete-button{
    background-color:rgb(199, 47, 47);
    margin-right: 5px;
}
#delete-button:hover {
    background-color:rgb(175, 38, 38);
}

.delete-button a {
    color: rgb(182, 14, 14);
    font-size: 2rem;
}
.delete-button {
    float: right;
    margin-top: -3.5rem;
    margin-left: 20rem;
}

/* --------------------------------------------------------- */

/* Unordered Task List Styles */
ul {
    list-style-type: none;
    margin: 5%;
    padding: 5px;
    /* border: 1px solid #e5e5e5; */
}

/* Individual Task Card */
.task {
    margin-top: 1rem;
    border: 2px solid rgb(164, 164, 224);
    border-radius: 1rem;
    width: 90%;
}

ul li {
    padding: 10px;
    /* padding-left: 0; */
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    align-items: center;
}
ul li:hover {
    background: #f3f3f3;
    border-radius: 1rem;
}

.task-item {
    margin-left: -3rem;
    margin-top: -1rem;
    float: left;
    width: 50%;
}

.task-item p{
    font-weight: 600;
    margin-bottom: 5px;
}

.task-item span {
    font-size: small;
}

/* Category Labels */
.category-label {
    width: 5rem;
    border: 1px solid white;
    color: white;
    padding: 1.3rem;
    font-size: large;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 4px 4px rgb(160, 160, 191);
    cursor: pointer;
    text-align: center;
}